@page "/VideoJuegos"
@rendermode InteractiveServer
<PageTitle>VideoJuegos</PageTitle>

<h3 class="text-center mb-2">VideoJuegos registrados</h3>
<div class="text-center mb-4">
    <button class="btn btn-primary mb-2" @onclick = "agregarVideoJuego">Agregar VideoJuego</button>
</div>

<table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Desarrollador</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Genero</th>
            <th scope="col">Fecha de Lanzamiento</th>
            <th scope="col">Portada</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in videoJuegos)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Desarrollador</td>
                <td>@item.Plataforma</td>
                <td>@item.Genero</td>
                <td>@item.FechaLanzamiento</td>
                <td>
                    <img src="@item.ImagenPortada" alt="@item.Nombre" class="img-thumbnail rounded-circle" width="100">
                </td>
                <td>@item.Descripcion</td>
                <td>
                    <button type="button" class="btn btn-success mb-2" @onclick="() => editar(item.Id)">
                        <i class="fas fa-edit"></i> Editar
                    </button>
                    <button type="button" class="btn btn-danger" @onclick="() => eliminar(item.Id)">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@code
{
    [Parameter] public int id {get;set;}
    List<VideoJuegos> videoJuegos = new List<VideoJuegos>();

    protected override async Task OnInitializedAsync()
    {
        videoJuegos = await Bd.VideoJuegoContext.ToListAsync();
    }

    private void agregarVideoJuego()
    {
        NavMan.NavigateTo("/Registro");
    }
        
    private void editar(int id){
         NavMan.NavigateTo($"/Registro/{id}/editar");
    }
    
    private async Task eliminar(int id)
    {
        var personajeEliminar = await Bd.VideoJuegoContext.FirstOrDefaultAsync(p => p.Id == id);

        if (personajeEliminar != null)
        {
            Bd.VideoJuegoContext.Remove(personajeEliminar);
            await Bd.SaveChangesAsync(); 
            videoJuegos.Remove(personajeEliminar);
            StateHasChanged();
        }
    }
}

